// VARIABLES
$crust: #090915;
$mantle: #0D0D1B;
$base: #151528;
$surface0: #20203C;
$surface1: #35355F;
$overlay0: #56568F;
$overlay1: #6262A3;
$subtext0: #8787D9;
$subtext1: #ABABF2;
$text: #CACAFC;

$mauve: #BD93F9;


// MIXINS
@mixin unset() {
  all: unset;
  * { all: unset; }
}


// GLOBAL
* {
  // all: unset;
  font-family: Noto Sans;
  font-size: 14px;
}


// BAR WINDOW
$bar_bg: $mantle;
$bar_transparency: 0;
$bar_border_color: $surface1;
$bar_margin: 4px;
.bar {
  background: transparentize($bar_bg, $bar_transparency);
  color: $text;
  padding: 0px 4px;

  > box { margin: 0px 16px 0px 0px; }
}


// SCREEN CORNERS WIDGET
$_margin: 2px;
$_radius: 16px;
$_shadow-size: 8px;
.screen-corner {
  box.shadow {
    margin-right: $_margin * -1;
    margin-left: $_margin * -1;

    // box-shadow: inset 0 0 $_shadow-size 0 transparentize($mantle, 0.1);
    margin-bottom: $_margin * -1;
  }

  box.border {
    border-top: 2px solid $surface0;
    margin-right: $_margin;
    margin-left: $_margin;
    margin-bottom: $_margin;
  }

  box.corner {
    box-shadow: 0 0 0 2px $bar_border_color;
  }

  &.corners {
    box.border {
      border-radius: $_radius;
      box-shadow: 0 0 0 $_radius transparentize($bar_bg, $bar_transparency);
    }
    box.corner {
      border-radius: $_radius;
    }
  }
}


// LAUNCHER BUTTON
button.launcher {
  @include unset();

  border-radius: 8px;
  transition-duration: 0.2s;
  opacity: 0.8;
  // border: 2px solid transparent;

  &:hover {
    // background: $mantle;
    opacity: 1;
    // border: 2px solid $surface0;
  }
  .internal { padding: 0 46px; }
}


// WORKSPACES WIDGET
.workspaces {
  @include unset();

  margin: $bar_margin 0px;
  background: $mantle;
  border-radius: 8px;
  border: 2px solid $base;

  button {
    border-radius: 6px;
    background: transparent;
    font-weight: 400;
    padding: 7px 12px 5px 12px;


    &:hover {
      background: $crust;
    }

    &.active {
      background: $base;
      color: $mauve;
      font-weight: 800;
    }
  }
}


// CLOCK WIDGET
.clock {
  @include unset();

  margin: $bar_margin 0px;
  background: $mantle;
  border: 2px solid $base;
  border-radius: 8px;
  color: $subtext0;

  label {
    padding: 0px 16px;
    &.time {
      font-weight: 600;
      color: $mauve;
      background: $base;
      border-radius: 6px;
    }
  }
}


// VOLUME SLIDER
.volume {
  @include unset();

  margin: $bar_margin 0px;
  background: $base;
  border: 2px solid $base;
  border-radius: 8px;
  // padding: 0px 8px;
  padding-left: 8px;

  scale {
    min-width: 64px;
    trough {
      background: $surface0;
      min-height: 4px;
      border-radius: 8px;

      highlight {
        background: $mauve;
        border-radius: 8px;
      }
    }
  }

  .media {
    @include unset();

    background: $surface0;
    border-radius: 6px;
    padding: 0px 16px 0px 4px;
    color: $subtext0;
    // min-width: 180px;

    button.play-pause {
      padding: 0px 6px;
      margin: 2px 0;
      border-radius: 4px;
      &:hover { background: $base; }
    }

    label {
      color: $subtext1;
      font-size: 12px;
    }
    label.artist {
      color: $subtext0;
      font-size: 10px;
    }
  }
}


// SYSTEM TRAY
.systray {
  margin: $bar_margin 0px;
  background: $base;
  border-radius: 8px;
  border: 2px solid $base;

  button {
    background: $base;
    padding: 0 8px;

    &:hover {
      background: $surface0;
    }
  }
}

